
    <div class="modal fade" id="contactUs" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header pastel-green">
                <h5 class="modal-title" id="exampleModalLabel">Contact Us</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body light-blue">
                <span class="text-danger"><i class="fas fa-phone"> </i> +91 8009039189</span>
                <hr>
                <span class="text-danger"><i class="fas fa-paper-plane"> </i><a class="text-danger" href="mailto:sidkv.skv@gmail.com?Subject=Order_Now" target="_top"> sidkv.skv@gmail.com</a></span>
                </div>
            </div>
        </div>
    </div>

    <nav class="navbar pastel-green z-depth-0">
    <div class="col-6 text-right">
        <div class="m-2">
            <button type="button" class="btn btn-info z-depth-0" data-toggle="modal" data-target="#contactUs">
                ContactUs <i class=" fas fa-tty ml-1 "></i>
            </button>
        </div>
    </div>
    <div class="col-6">
        <div class="m-2"> 
            <a href="/faq" type="button" class="btn btn-info z-depth-0">
                    FAQs <i class="fas fa-question ml-1"></i> 
            </a>
        </div>
    </div>
    </nav>

    <nav class="navbar z-depth-0 light-blue">
    <div class="col text-center">
        <i class="fab fa-facebook mr-2"></i>
        <i class="fab fa-twitter mr-2"></i>
        <i class="fab fa-instagram"></i>
    </div>
    </nav>

    <nav  class="navbar z-depth-0 light-blue">
    <div class="col text-center">
        <div class="search-container">
            <form action="#">
                <button type="submit" class="pastel-green"><span class="fab fa-telegram-plane"></span></button>
                <input type="text" placeholder="News Letter.." name="News Letter">
            </form>
        </div>
    </div>
    </nav>

    <nav class="navbar z-depth-0 light-blue d-none d-sm-block">
    <p class="pt-3 pr-5 pl-5 mr-5 ml-5 text-justify">
        Casa is an online brand for sustainable and environmentally safe toys that help your child learn a 
        lot in a fun way. Each toy has been designed after much research on how to engage, stimulate and 
        entertain children in age-appropriate ways. Prioritizing child-safety, every Casa toy adheres to
            strict quality control standards. These timeless, sturdy wood-carved toys withstand wear and tear
            and can be handed down as heirlooms, making them a great value for money. 
    </p>
    </nav>
    <nav class="navbar z-depth-0 pastel-green">
        <p class="font-weight-bold d-center"> © All Right Reserved 2019 </p>
    </nav>

</body>
</html>