<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Casa</title>

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
        <!-- Bootstrap core CSS -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet">
        <!-- Material Design Bootstrap -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.7.1/css/mdb.min.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">

        <!-- JQuery -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <!-- Bootstrap tooltips -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
        <!-- Bootstrap core JavaScript -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.2.1/js/bootstrap.min.js"></script>
        <!-- MDB core JavaScript -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.7.1/js/mdb.min.js"></script>

        <link href="stylesheets/style.css" rel="stylesheet" type="text/css">

        <script type="text/javascript" src="javascripts/javascript.js"></script>
        <!-- <script src="https://apis.google.com/js/platform.js" async defer></script>
        <meta name="google-signin-client_id" content="368295044051-hq3pfjb41qr27h100g6knv8g7cmj7aab.apps.googleusercontent.com"> -->

    </head>
    <body class="dark-brown">

        <nav class="navbar pastel-green z-depth-0">
            <div class="d-center">
                <a class="d-small">Get 20% Off with code SHOP20 (Above ₹500)</a>
            </div>
        </nav>

        <!-- Full Height Modal Right -->
        <div class="modal fade left" id="navigationmenu" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
        aria-hidden="true">

        <!-- Add class .modal-full-height and then add class .modal-right (or other classes from list above) to set a position to the modal -->
        <div class="modal-dialog modal-full-height modal-left" role="document">


          <div class="modal-content">
            <div class="modal-header pastel-green">
              <h4 class="modal-title w-100" id="myModalLabel">Casa.</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body light-blue">
              <ul class="list-group border-0 light-blue">
                <li class="list-group-item border-0 light-blue"><a class="text-danger" href="/">Home</a></li>
                <li class="list-group-item border-0 light-blue"><a class="text-danger" href="/faq">FAQ</a></li>
                <li class="list-group-item border-0 light-blue"><a class="text-danger" href="/forum">Forum</a></li>
                <li class="list-group-item border-0 light-blue"><a data-toggle="modal" data-target="#contactUs" class=" text-danger z-depth-0">Contact US</a></li>
                <li class="list-group-item border-0 light-blue"><a class="text-danger" href="/aboutus">About Us</a></li>
              </ul>
            </div>
            <div class="modal-footer justify-content-center pastel-green">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
            </div>
          </div>
        </div>
        </div>
        <!-- Full Height Modal Right -->

        <nav class="nav navbar light-blue z-depth-0 topnav">

            <div>

                <a data-toggle="modal" data-target="#navigationmenu" class="z-depth-0 light-blue fas fa-bars m-3"></a>
    
                <div class=" d-none d-sm-block search-container" id="d-main-search">
                    <form action="#">
                        <input type="text" placeholder="Search.." name="search"/>
                        <button type="submit" class="pastel-green"><i class="fa fa-search"></i></button>
                    </form>
                </div>
            </div>

            <div>
                <img src="images/logo.png" class="img-fluid logo" alt="Responsive image">
            </div>

            <div class="d-none d-md-block">
                <div class="mr-4">
                    <div><div class="text-center"><i class="fas fa-headset fa-lg d-center"></i></div></div>
                    <figcaption class="d-small">
                        <button type="button" class="btn pastel-green z-depth-0" data-toggle="modal" data-target="#contactUs">
                            Contact Us
                        </button>
                        <!-- Contact Us -->
                    </figcaption>
                </div>
            </div>

        </nav>

        <!-- Navigation End -->