<%- include partials/header.ejs %>

<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-sm-6">
            <div class=" mx-1 mt-2">
                <p class="note note-primary">
                    <strong class="h1">Frequently Asked Questions</strong>
                    <span class="badge badge-primary align-text-top z-depth-0">New Content</span>
                </p>
            </div>
        </div>
    </div>

    <div>
        <div class="row text-center">
            <div class="col-md-3"></div>
            <div class="col-md-6 m-md-5 text-justify">
                <p class="text-danger font-weight-bold mb-0">What is special about Shumee's toys?</p>

                <p class="pr-2 pt-0">Shumee’s toys are very safe, made from natural wood and coloured in bright non-toxic 
                    paints.Each toy has been carefully designed to be fun & engaging, and focus on different learning 
                    attributes/skills at different age groups starting from 3 months to 6+ years old.</p>

                <p class="text-danger font-weight-bold mb-0">Are the toys safe for my kids?</p>
            
                <p class="pr-2 pt-0">Shumee’s toys are very safe, made from natural wood and coloured in bright non-toxic
                     paints.</p>
                <p class="text-danger font-weight-bold mb-0">What are the various types of toys?</p>
            
                <p class="pr-2 pt-0">Shumee has created the following 5 categories of toys that continue to grow and the 
                    selection continues to expand everyday:</p>
                    <ol>
                        <li>
                            <p class="text-danger mb-0">Pretend & play:</p>
                            <p class="pr-2 pt-0">The magic of learning is in pretending. This is an important part of the child’s 
                            development. These toys help the child to discover life’s skills. It takes the child into a land 
                            of make-believe, encouraging new vocabulary and empathy.</p>
                        </li>
                        <li>
                            <p class="text-danger mb-0">Dance to the music:</p> 
                            <p class="pr-2 pt-0">Fun for all ages! Help your child make his or her first music with these toys.
                            These toys also help with sensory skills and hand-eye coordination.</p>
                       </li>
                       <li>
                           <p class="text-danger mb-0">Puzzles:</p> 
                            <p class="pr-2 pt-0">are good learning tools that encourage cognitive skills, problem solving skills, 
                            fine motor development, hand and eye coordination and promote self esteem.
                            They encourage hand-eye coordination and spatial awareness. They are important for many stages of 
                            a child’s development.</p>
                        </li>
                        <li>
                            <p class="text-danger mb-0">Explore and Learn:</p>
                            <p class="pr-2 pt-0">This is full of baby’s first toys, bright and colorful and take the child on a voyage
                            of discovery. This also includes toys that help foster the creativity in the child.</p>
                        </li>
                        <li>
                            <p class="text-danger mb-0">On the move:</p>
                            <p class="pr-2 pt-0">Active kids means Active minds. Here is a selection of toys which encourage active
                            play and enable little ones to keep fit and healthy. They not only improve self- confidence but also 
                            provide opportunities to develop friendships.</p>
                        </li>
                    </ol>
            
                    <p class="text-danger font-weight-bold mb-0">How long does it take to ship and deliver the toy?</p>
            
                    <p class="pr-2 pt-0">We endeavor to ship ordered products typically within 2-3 working days of order
                         placement and confirmation. Upon successful shipment of an order, we will send you the details of
                          the consignment to allow you to check the status of your order. The typical delivery date shall
                           be within 10 days of shipping and in some cases 12-15 days (Please see shipping and returns policy 
                           for details)</p>
                    <p class="text-danger font-weight-bold mb-0">How can I track my order?</p>
            
                    <p class="pr-2 pt-0">In most cases your order will be delivered within 10 or at most 12-15 days from shipping.
                         In some cases, if there is an exigency, we will proactively call/email you and let you know. 
                         In the rare case that you do not hear from us, please email us at contact@shumee.in</p>
                    <p class="text-danger font-weight-bold mb-0">What is Shumee's return policy?</p>
            
                    <p class="pr-2 pt-0">If you receive a damaged / defective Product or a Product that does not comply 
                        with the specifications as per your original order, please get in touch with the customer service. email
                         us at contact@shumee.in to register the reason for returning your order within 48 hours of accepting 
                         delivery of such order. Upon verifying the authenticity of your claim, we will determine if your order 
                         may be returned. If your order is eligible for returns then please follow the instructions for order
                          return.</p>
           </div>
           <div class="col-md-3"></div>
        </div> 
    </div>

</div>

<%- include partials/footer.ejs %>