/* ---------------------------------------------------- Color --------------------------------------------------------- */

.pastel-green{
  /* background-color: #ffebee; */
  background-color: #ffcdd2 !important;
}
.light-blue{
  background-color: #ffebee !important;
  /* background-color: #ffcdd2 !important; */
}
.dark-brown{
  color: #3e2723 !important;
}
.d-center{
  margin: 0 auto;
}

.d-small{
  font-size: 15px;
  font-weight: bold;
}
/* ---------------------------------------------------- logo --------------------------------------------------------- */

.logo{
  height: 90px !important;
  width: 147px !important;
}
.d-bottom{
  /* vertical-align: baseline; */
  vertical-align: text-bottom;
}

/* ---------------------------------------------------- video --------------------------------------------------------- */

.d-video{
  height: 30%;
  width: 53%;
}

@media only screen and (max-width: 775px) {
  .d-video{
    height: 100%;
    width: 100%;
  }
}

/* ---------------------------------------------------- Search button --------------------------------------------------------- */
.topnav .search-container {
  float: right;
}

.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 15px;
  border: none;
}
input[type=text] {
  padding: 6px;
  margin-right: 0;
  margin-top: 8px;
  font-size: 15px;
  border: none;
}

.search-container button:hover {
  background: #ccc;
}

.topnav  .search-container button {
  float: left;
  margin-left: 16px;
}
.search-container button {
  padding: 6px 10px;
  margin-top: 8px;
  margin-left: 0;
  background: #ddd;
  font-size: 15px;
  border: none;
  cursor: pointer;
}